@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.one{
  margin-top:22%;
  color:green;
}