@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-image: url('https://cdn.wallpapersafari.com/55/73/ghY4rc.jpg');
  background-repeat: no-repeat;
  background-position: center;

}

.one{
  margin-top:16%;
  color:wheat;
}
.three{
  background-color:green;
  padding: 20px;
  display: flex;
  justify-content:center;
  margin: 40px;
}

