{%extends 'django_registration/base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
        <img src="{{ image.image.url }}" class="w-100 shadow-1-strong rounded mb-4 img-fluid image" alt="{{ image.name }}"/>    
          <h1>{{image.name}} </h1>
          <h3>This is the images Caption: {{image.caption}}</h3>
          <h4> It has the following Comments:{{image.comments}} </h4>
      </div>
    {% endfor %}
  </div>
</div>
<a class="btn btn-outline-success " href="{% url 'photos'%}" role="button"> Back </a>

{% endblock content %}